.acao-lista {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  padding: 20px;
  background: #26b0ff;
  margin: 0 auto; 
  max-width: 90%;
}

@media (min-width: 925px) {
  .acao-lista {
    grid-template-columns: 1fr 1fr; 
    gap: 15px;
  }
}

@media (min-width: 1300px) {
  .acao-lista {
    grid-template-columns: 1fr 1fr 1fr; 
    gap: 20px;
  }
}