<div
  class="acao-componente"
  (click)="toggleExpandirAcao()"
  [class.expandida]="acaoExpandida"
>
  <div class="acao-cabecalho">
    <div class="acao-topo">
      <div class="acao-nome">{{acao().nome}}</div>

      <div class="acao-pontos">
        @for (i of getRange(acao().acaoCusto); track i) {
          <img src="icones/acao/pontoDeAcao.svg" alt="Ponto De Ação" class="icone-ponto"/>
        }
      </div>

      <div class="acao-condicoes">
        @if (acao().reacaoAcionamento.length!==0) {
          <img src="icones/acao/reacao.svg" alt="Ponto De Ação" class="icone-ponto"/>
        }
        @if (acao().ehAcaoLivre) {
          <img src="icones/acao/acaoLivre.svg" alt="Ação Livre" class="icone-ponto"/>
        }
      </div>
    </div>
    <div class="acao-tipos">
      @for (tipo of acao().tipoNomes; track tipo) {
        <span class="tipo">{{tipo}}</span>
      }
    </div>
  </div>
  @if (acaoExpandida) {
  <div class="acao-corpo">
    @if (acao().reacaoAcionamento.length!==0) {
     <div class="acionamento">
      <h4>Acionamento</h4>
      <p>{{acao().reacaoAcionamento}}</p>
    </div>
    }
    @if (acao().requerimento.length!==0) {
     <div class="requerimento">
      <h4>Requerimento</h4>
      <p>{{acao().requerimento}}</p>
    </div>
    }
    <div class="descricao">
      <h4>Descrição</h4>
      <p>
        {{acao().descricao}}
      </p>
    </div>
  </div>
  }
</div>
