<div
  class="acao-componente"
  (click)="toggleExpandirAcao()"
  [class.expandida]="acaoExpandida"
>
  <div class="acao-cabecalho">
    <div class="acao-topo">
      <div class="acao-nome">{{acao().nome}}</div>

      <div class="acao-pontos">
        @for (i of getRange(acao().acaoCusto); track i) {
          <span class="icone-ponto">⚡</span>
        }
      </div>

      <div class="acao-condicoes">
        @if (acao().reacaoAcionamento.length!==0) {
          <span class="icone-ponto">🔄</span>
        }
        @if (acao().acaoLivreCusto) {
          <span class="icone-ponto">🆓</span>
        }
      </div>
    </div>
    <div class="acao-tipos">
      @for (tipo of acao().tipoNomes; track tipo) {
        <span class="tipo">{{tipo}}</span>
      }
    </div>
  </div>
  @if (acaoExpandida) {
  <div class="acao-corpo">
    <div class="requerimento">
      <h4>Requerimento</h4>
      <p>{{acao().requerimento}}</p>
    </div>
    <div class="descricao">
      <h4>Descrição</h4>
      <p>
        {{acao().descricao}}
      </p>
    </div>
  </div>
  }
</div>
